.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  position: absolute;
  display: flex;
  margin-bottom: 90svh;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .inputApply {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid var(--orange);
  border-radius: 5px;
}

.form label .inputApply + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .inputApply:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .inputApply:focus + span,
.form label .inputApply:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .inputApply:valid + span {
  color: var(--orange);
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid var(--orange);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,
.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

span {
  color: var(--orange);
  font-size: 0.8em;
  padding: 8px;
}

.form2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  position: absolute;
  display: flex;
  margin-top: -45svh;
  text-align: center;
}

.buttonClose1 {
  all: unset;
  text-align: right;
  color: var(--orange);
}

.buttonClose2 {
  all: unset;
  text-align: right;
  margin-bottom: 1rem;
  color: var(--orange);
}

.applySendMsg {
  margin-bottom: 1rem;
}
