.FiltrerPar {
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: var(--blue);
}

.sentenceResult {
  text-align: end;
}

.sentenceResult > P {
  padding-top: 1rem;
  padding-right: 1.5rem;
  font-size: smaller;
}

.province-select,
.ville-select {
  width: 160%;
  height: 110%;
  font-family: "Molengo", sans-serif;
}

.label-from-jobs-list {
  display: flex;
  margin-right: 1rem;
  font-family: "Molengo", sans-serif;
}

option {
  font-family: "Molengo", sans-serif;
}

.label-from-jobs-list > p {
  text-align: end;
  margin-right: 0.3rem;
  padding-right: 0.2rem;
  margin-left: 0.4rem;
  font-family: "Molengo", sans-serif;
  width: 80%;
}

form {
  display: flex;
}

.Card_Moment > p {
  margin-top: 2rem;
  padding-left: 1.5rem;
}
