@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Molengo&display=swap");

.jobCard {
  background-color: var(--beige);
  width: 80%;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.jobCard > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.workTitle {
  margin-top: 2rem;
  background-color: var(--offwhite);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2rem;
}
.workTitle div {
  display: flex;
  text-align: center;
  align-items: center;
}

.workTitle h1 {
  font-size: 30px;
  color: var(--blue);
  letter-spacing: 0.05em;
  font-family: "Jomhuria", serif;
}
.workTitle button {
  margin-left: 10%;
}
