@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Molengo&display=swap");

.jobCard {
  background-color: var(--beige);
  border-radius: 8px;
  width: 80%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.workTitle {
  display: flex;
  flex-direction: row;
}

.workTitle h1 {
  font-size: 30px;
  letter-spacing: 0.05em;
  font-family: "Jomhuria", serif;
  color: var(--blue);
}

.workTitle button {
  width: 100px;
}

.overlay {
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
  width: 100%;
  height: 100%;
}
